@import './../../design/styles/common/global.styl'
@import './../../design/styles/common/form.styl'

.btn-group{
  padding: 10px
}
.AnalyzeDialog
  background: var(--ui-gray-darkest);
  color: var(--text-secondary-color);
  filter: drop-shadow(0 0 3px var(--ui-gray-darkest))
  border: none
  border-radius: 8px

  h5
    font-size: 20px
    line-height: 35px
    margin: 0

  h5, label
    font-weight: 400

  .btn
    color: var(--text-secondary-color);
    background-color: transparent
    border: 0
    border-radius: 4px
    font-size: 19px
    width: 45px
    font-weight: normal
    height: 37px
    line-height: 37px
    padding: 0 12px

    &:hover, &:active, &.active
      color: var(--hover-color);

    &[disabled]
      &:hover
        color: inherit
      &:active
        color: var(--text-secondary-color);

    &.btn-primary, &.btn-secondary, &.btn-danger
      transition: background-color 0.3s ease

      &:hover, &:active, &:focus
        opacity: 0.8

    &.btn-primary
      background-color: var(--active-color);
      color: var(--primary-background-color)

    &.btn-secondary
      background-color: var(--text-secondary-color);
      color: var(--primary-background-color)

    &.btn-danger
      background-color: var(--text-destructive-color);
      color: var(--text-primary-color);

    &.active
      box-shadow: inset 1px 1px 2px var(--ui-gray-darkest)

  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}